<!DOCTYPE html>
<html>
<head>
  <title>Channel Info</title>
</head>
<body>
  <h1>Channel Info</h1>
  <table>
    <tr>
      <th>Channel ID</th>
      <td>{{ info.channel_id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ info.name }}</td>
    </tr>
    <tr>
      <th>Subscribers</th>
      <td>{{ info.subscribers }}</td>
    </tr>
    <tr>
      <th>Photos</th>
      <td>{{ info.photos }}</td>
    </tr>
    <tr>
      <th>Videos</th>
      <td>{{ info.videos }}</td>
    </tr>
    <tr>
      <th>Files</th>
      <td>{{ info.files }}</td>
    </tr>
  </table>
</body>
</html>
