<section class="hero is-dark is-little">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white"> Discover The Best Telegram Channels </h1>
        <h2 class="subtitle has-text-white">
        #1 Directory of The Best Telegram Channels, Groups, and Bots.
        </h2>
        <span class="has-text-grey-lighter">More than <b>21,000</b> Channels, Groups, Bots, and Stickers in <b>18 Languages</b>!</span>
      </div>

      <div class="container">
        <h2 class="subtitle">Search Media</h2>
        <form action="" method="GET">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" name="search" placeholder="Search media">
                </div>
                <div class="control">
                    <button type="submit" class="button is-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
  </section>