<section class="section has-shadow has-background-white">
    <div class="container">
        <div class="content has-text-centered">
            <h2>Why Should I Add My Channels to The Directory?</h2>
                <p>Some reason that why you should add your channels to telegram channels directory</p>
            <br>
        </div>
    <div class="columns is-multiline has-text-centered-mobile">
    <div class="column is-5 is-offset-1 content">
    <h3><i class="fas fa-users has-text-info"></i> Increase subscribers</h3>
    <p>By submitting your channel to this directory you will gain more visitors and more subscribers to your channel.</p>
    </div>
    <div class="column is-5 content">
    <h3><i class="fas fa-chart-line has-text-success"></i> Get growth stats</h3>
    <p>After submitting your channel, we will check your subscribers every day to draw a nice chart of your channel growth!</p>
    </div>
    <div class="column is-5 is-offset-1 content">
    <h3><i class="fas fa-grin-stars has-text-warning"></i> Get reviewed by users</h3>
    <p>Each channel has its own link which you can share it with your users to rate your channel. look at <a href="https://telegramchannels.me/top">Top 100 Media</a> </p>
    </div>
    <div class="column is-5 content">
    <h3><i class="fab fa-google has-text-danger"></i> Appear on search engines</h3>
    <p>Channels have their own pages and these pages have indexed in search engines like Google.</p>
    </div>
    <div class="column is-full"></div>
    <div class="column is-4 has-text-centered">
    <b class="is-size-2">3.8M+</b><br>
    <span class="has-text-grey">Pageviews per Month </span> <br>
    <b class="has-text-grey">(1M+ visitors/month)</b>
    </div>
    <div class="column is-4 has-text-centered">
    <b class="is-size-2">211.33K</b> <br>
    <span class="has-text-grey">Registered Users</span>
    </div>
    <div class="column is-4 has-text-centered">
    <b class="is-size-2">1.57M</b> <br>
    <span class="has-text-grey">Given Stars</span>
    </div>
    </div>
    <br>
    <div class="has-text-centered">
    <a href="/" class="button is-rounded is-primary" id="add-free"><i class="fas fa-plus"></i> &nbsp;Add Now For Free</a>
    </div>
    </div>
    </section>